https://www.kaggle.com/datasets/computingvictor/transactions-fraud-datasets

## Importação de bibliotecas

In [1]:
import os
import json
import kagglehub
import pandas as pd
from shutil import move

## Carregamento de dados

In [2]:
FILE_PATH = './data/'

In [3]:
DATASET_PATH = './datasets/'

In [4]:
path = kagglehub.dataset_download("computingvictor/transactions-fraud-datasets")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/computingvictor/transactions-fraud-datasets?dataset_version_number=1...

100%|██████████| 348M/348M [00:03<00:00, 116MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/computingvictor/transactions-fraud-datasets/versions/1

In [5]:
if os.path.exists(DATASET_PATH):
    print('Pasta já existe')
else:
    os.mkdir(DATASET_PATH)

In [6]:
if os.path.exists(FILE_PATH):
    print('Pasta já existe')
else:
    os.mkdir(FILE_PATH)

In [7]:
for file in os.listdir(path):
    file_path = os.path.join(path, file)
    move(file_path, FILE_PATH)

In [8]:
os.listdir(FILE_PATH)

['mcc_codes.json',
 'cards_data.csv',
 'users_data.csv',
 'train_fraud_labels.json',
 'transactions_data.csv']

In [9]:
df_transaction = pd.read_csv(FILE_PATH + '/transactions_data.csv')
df_transaction.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN

In [10]:
with open(FILE_PATH + '/mcc_codes.json', mode='r', encoding='utf-8') as f:
    codes = json.load(f)
    print(codes)

{'5812': 'Eating Places and Restaurants', '5541': 'Service Stations', '7996': 'Amusement Parks, Carnivals, Circuses', '5411': 'Grocery Stores, Supermarkets', '4784': 'Tolls and Bridge Fees', '4900': 'Utilities - Electric, Gas, Water, Sanitary', '5942': 'Book Stores', '5814': 'Fast Food Restaurants', '4829': 'Money Transfer', '5311': 'Department Stores', '5211': 'Lumber and Building Materials', '5310': 'Discount Stores', '3780': 'Computer Network Services', '5499': 'Miscellaneous Food Stores', '4121': 'Taxicabs and Limousines', '5300': 'Wholesale Clubs', '5719': 'Miscellaneous Home Furnishing Stores', '7832': 'Motion Picture Theaters', '5813': 'Drinking Places (Alcoholic Beverages)', '4814': 'Telecommunication Services', '5661': 'Shoe Stores', '5977': 'Cosmetic Stores', '8099': 'Medical Services', '7538': 'Automotive Service Shops', '5912': 'Drug Stores and Pharmacies', '4111': 'Local and Suburban Commuter Transportation', '5815': 'Digital Goods - Media, Books, Apps', '8021': 'Dentists and Orthodontists', '5921': 'Package Stores, Beer, Wine, Liquor', '5655': 'Sports Apparel, Riding Apparel Stores', '7230': 'Beauty and Barber Shops', '3390': 'Miscellaneous Metalwork', '7922': 'Theatrical Producers', '3722': 'Passenger Railways', '5651': 'Family Clothing Stores', '4899': 'Cable, Satellite, and Other Pay Television Services', '5251': 'Hardware Stores', '7995': 'Betting (including Lottery Tickets, Casinos)', '3596': 'Miscellaneous Machinery and Parts Manufacturing', '3730': 'Ship Chandlers', '9402': 'Postal Services - Government Only', '7801': 'Athletic Fields, Commercial Sports', '5970': 'Artist Supply Stores, Craft Shops', '5932': 'Antique Shops', '5621': "Women's Ready-To-Wear Stores", '7349': 'Cleaning and Maintenance Services', '4722': 'Travel Agencies', '5193': 'Florists Supplies, Nursery Stock and Flowers', '3775': 'Railroad Freight', '3684': 'Semiconductors and Related Devices', '5045': 'Computers, Computer Peripheral Equipment', '3504': 'Gardening Supplies', '7011': 'Lodging - Hotels, Motels, Resorts', '8041': 'Chiropractors', '4214': 'Motor Freight Carriers and Trucking', '6300': 'Insurance Sales, Underwriting', '8011': 'Doctors, Physicians', '3509': 'Industrial Equipment and Supplies', '7210': 'Laundry Services', '5192': 'Books, Periodicals, Newspapers', '7542': 'Car Washes', '3640': 'Lighting, Fixtures, Electrical Supplies', '7393': 'Detective Agencies, Security Services', '8111': 'Legal Services and Attorneys', '3771': 'Railroad Passenger Transport', '5732': 'Electronics Stores', '5094': 'Precious Stones and Metals', '5712': 'Furniture, Home Furnishings, and Equipment Stores', '5816': 'Digital Goods - Games', '7802': 'Recreational Sports, Clubs', '3389': 'Non-Precious Metal Services', '8043': 'Optometrists, Optical Goods and Eyeglasses', '3393': 'Heat Treating Metal Services', '3174': 'Upholstery and Drapery Stores', '3001': 'Steel Products Manufacturing', '3395': 'Welding Repair', '3058': 'Tools, Parts, Supplies Manufacturing', '8049': 'Podiatrists', '3387': 'Electroplating, Plating, Polishing Services', '4112': 'Passenger Railways', '3405': 'Ironwork', '5261': 'Lawn and Garden Supply Stores', '3144': 'Floor Covering Stores', '3132': 'Leather Goods', '3359': 'Non-Ferrous Metal Foundries', '8931': 'Accounting, Auditing, and Bookkeeping Services', '8062': 'Hospitals', '7276': 'Tax Preparation Services', '4131': 'Bus Lines', '3260': 'Pottery and Ceramics', '3256': 'Brick, Stone, and Related Materials', '3006': 'Miscellaneous Fabricated Metal Products', '7531': 'Automotive Body Repair Shops', '1711': 'Heating, Plumbing, Air Conditioning Contractors', '5947': 'Gift, Card, Novelty Stores', '3007': 'Coated and Laminated Products', '4511': 'Airlines', '3075': 'Bolt, Nut, Screw, Rivet Manufacturing', '3066': 'Miscellaneous Metals', '3005': 'Miscellaneous Metal Fabrication', '4411': 'Cruise Lines', '3000': 'Steelworks', '5533': 'Automotive Parts and Accessories Stores', '3008': 'Steel Drums and Barrels', '7549': 'Towing Services', '5941': 'Sporting Goods Stores', '5722': 'Household Appliance Stores', '3009': 'Fabricated Structural Metal Products', '5733': 'Music Stores - Musical Instruments'}

In [11]:
df_cods = pd.DataFrame.from_dict(codes.items())
df_cods.columns = ['mcc', 'description']
df_cods['mcc'] = df_cods['mcc'].astype(int)
df_cods.head()

    mcc                           description
0  5812         Eating Places and Restaurants
1  5541                      Service Stations
2  7996  Amusement Parks, Carnivals, Circuses
3  5411          Grocery Stores, Supermarkets
4  4784                 Tolls and Bridge Fees

In [12]:
df = pd.merge(df_transaction, df_cods, on='mcc', how='left')
df.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,description
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN,Miscellaneous Food Stores
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN,Department Stores
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN,Money Transfer
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN,Money Transfer
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN,Drinking Places (Alcoholic Beverages)

In [13]:
del df_transaction, df_cods, codes

In [14]:
df_cards = pd.read_csv(FILE_PATH + '/cards_data.csv')
df_cards.rename(columns={'id': 'card_id'}, inplace=True)
df_cards.head()

,card_id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [15]:
df_users = pd.read_csv(FILE_PATH + '/users_data.csv')
df_users.rename(columns={'id': 'client_id'}, inplace=True)
df_users.head()

,client_id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,$37891,$77254,$191349,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,$22681,$33483,$196,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,$163145,$249925,$202328,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,$53797,$109687,$183855,675,1

In [16]:
df_frauds = pd.read_json(FILE_PATH + '/train_fraud_labels.json').reset_index()
df_frauds.columns = ['id', 'target']
df_frauds.head()

         id target
0  10649266     No
1  23410063     No
2   9316588     No
3  12478022     No
4   9558530     No

In [17]:
df_frauds['target'].value_counts(normalize=True)

target
No     0.998505
Yes    0.001495
Name: proportion, dtype: float64

In [18]:
df = pd.merge(df, df_frauds, on='id', how='left')
del df_frauds

In [19]:
df.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors,description,target
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN,Miscellaneous Food Stores,No
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN,Department Stores,No
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN,Money Transfer,No
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN,Money Transfer,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN,Drinking Places (Alcoholic Beverages),No

## Ajuste nos tipos de dados de Transações (df), usuários (df_users) e cartoes (df_cards)

In [20]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          2000 non-null   int64
 1   current_age        2000 non-null   int64
 2   retirement_age     2000 non-null   int64
 3   birth_year         2000 non-null   int64
 4   birth_month        2000 non-null   int64
 5   gender             2000 non-null   object
 6   address            2000 non-null   object
 7   latitude           2000 non-null   float64
 8   longitude          2000 non-null   float64
 9   per_capita_income  2000 non-null   object
 10  yearly_income      2000 non-null   object
 11  total_debt         2000 non-null   object
 12  credit_score       2000 non-null   int64
 13  num_credit_cards   2000 non-null   int64
dtypes: float64(2), int64(7), object(5)
memory usage: 218.9+ KB

In [21]:
df_cards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   card_id                6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   object
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            object
 2   client_id       int64
 3   card_id         int64
 4   amount          object
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             int64
 11  errors          object
 12  description     object
 13  target          object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.4+ GB

In [23]:
df['date'] = pd.to_datetime(df['date'])

In [24]:
def format_value_decimal(value_decimal: str|float) -> float:
    return float(str(value_decimal).replace('$', ''))

In [25]:
df['amount'] = df['amount'].apply(format_value_decimal)
df['mcc'] =  df['mcc'].apply(str)

In [26]:
df_users['per_capita_income'] = df_users['per_capita_income'].apply(format_value_decimal)
df_users['yearly_income'] = df_users['yearly_income'].apply(format_value_decimal)
df_users['total_debt'] = df_users['total_debt'].apply(format_value_decimal)

In [27]:
df_cards['credit_limit'] = df_cards['credit_limit'].apply(format_value_decimal)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            datetime64[ns]
 2   client_id       int64
 3   card_id         int64
 4   amount          float64
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             object
 11  errors          object
 12  description     object
 13  target          object
dtypes: datetime64[ns](1), float64(2), int64(4), object(7)
memory usage: 1.4+ GB

In [29]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          2000 non-null   int64
 1   current_age        2000 non-null   int64
 2   retirement_age     2000 non-null   int64
 3   birth_year         2000 non-null   int64
 4   birth_month        2000 non-null   int64
 5   gender             2000 non-null   object
 6   address            2000 non-null   object
 7   latitude           2000 non-null   float64
 8   longitude          2000 non-null   float64
 9   per_capita_income  2000 non-null   float64
 10  yearly_income      2000 non-null   float64
 11  total_debt         2000 non-null   float64
 12  credit_score       2000 non-null   int64
 13  num_credit_cards   2000 non-null   int64
dtypes: float64(5), int64(7), object(2)
memory usage: 218.9+ KB

In [30]:
df_cards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   card_id                6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   float64
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: float64(1), int64(6), object(6)
memory usage: 624.3+ KB

In [31]:
df['target'].value_counts(dropna=False)

target
No     8901631
NaN    4390952
Yes      13332
Name: count, dtype: int64

## Segmentação de dados (treino, teste, validação)

In [32]:
limit_train_test_date = df.sort_values(by='date', ascending=True).query('target == "Yes"')['date'].quantile(0.8)
limit_train_test_date

Timestamp('2018-03-21 02:57:24.000000256')

In [33]:
df_no_target = df.query('target.isna()')
df_no_target.shape

(4390952, 14)

In [34]:
df.query('not target.isna()', inplace=True)
df.shape

(8914963, 14)

In [35]:
df_vadalite_date = df.sort_values(by='date', ascending=True).query('date > @limit_train_test_date')
df_vadalite_date.shape

(1509593, 14)

In [36]:
df_train_test_date = df.sort_values(by='date', ascending=True).query('date <= @limit_train_test_date')
df_train_test_date.shape

(7405370, 14)

In [37]:
df_user_notarget = df_users[df_users['client_id'].isin(df_no_target['client_id'].values)]
df_user_notarget .shape

(1219, 14)

In [38]:
df_user_validation = df_users[df_users['client_id'].isin(df_vadalite_date['client_id'].values)]
df_user_validation.shape

(1207, 14)

In [39]:
df_user_train_test = df_users[df_users['client_id'].isin(df_train_test_date['client_id'].values)]
df_user_train_test.shape

(1219, 14)

In [40]:
df_cards_notarget = df_cards[df_cards['card_id'].isin(df_no_target['card_id'])]
df_cards_notarget.shape

(4071, 13)

In [41]:
df_cards_validation = df_cards[df_cards['card_id'].isin(df_vadalite_date['card_id'])]
df_cards_validation.shape

(3525, 13)

In [42]:
df_cards_train_test = df_cards[df_cards['card_id'].isin(df_train_test_date['card_id'])]
df_cards_train_test.shape

(3976, 13)

In [43]:
del df, df_users, df_cards

In [44]:
df_notarget = df_no_target \
    .merge(df_user_notarget, how='left', on=['client_id']) \
    .merge(df_cards_notarget, how='left', on=['card_id', 'client_id'])
df_notarget.shape

(4390952, 38)

In [45]:
del df_no_target, df_user_notarget, df_cards_notarget

In [46]:
df_train_test = df_train_test_date \
    .merge(df_user_train_test, how='left', on=['client_id']) \
    .merge(df_cards_train_test, how='left', on=['card_id', 'client_id'])
df_train_test.shape

(7405370, 38)

In [47]:
del df_train_test_date, df_user_train_test, df_cards_train_test

In [48]:
df_validation = df_vadalite_date \
    .merge(df_user_validation, how='left', on=['client_id']) \
    .merge(df_cards_validation, how='left', on=['card_id', 'client_id'])
df_validation.shape

(1509593, 38)

In [49]:
del df_vadalite_date, df_user_validation, df_cards_validation

In [50]:
df_notarget.to_parquet(os.path.join(DATASET_PATH, 'df_notarget.parquet'), engine='pyarrow')

In [51]:
df_train_test.to_parquet(os.path.join(DATASET_PATH, 'df_train_test.parquet'), engine='pyarrow')

In [52]:
df_validation.to_parquet(os.path.join(DATASET_PATH, 'df_validation.parquet'), engine='pyarrow')

In [53]:
import shutil

In [54]:
shutil.make_archive(DATASET_PATH, 'tar', DATASET_PATH)

'/content/datasets/.tar'

In [57]:
if 'google.colab' in str(get_ipython()):
  from google.colab import drive

  drive.mount('/content/drive')

  shutil.copy('/content/datasets/df_notarget.parquet', '/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude')
  shutil.copy('/content/datasets/df_train_test.parquet', '/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude')
  shutil.copy('/content/datasets/df_validation.parquet', '/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).