In [4]:
import os
import shutil
import polars as pl
from datetime import datetime, timedelta

In [2]:
if 'google.colab' in str(get_ipython()):
  from google.colab import drive

  os.makedirs('./datasets', exist_ok=True)
  drive.mount('/content/drive')

  shutil.copy('/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude/df_train_test.parquet','/content/datasets/')
  shutil.copy('/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude/df_validation.parquet','/content/datasets/')

Mounted at /content/drive

In [3]:
df = pl.concat([pl.read_parquet('./datasets/df_train_test.parquet'), pl.read_parquet('./datasets/df_validation.parquet')])
df.head()

shape: (5, 38)
┌─────────┬────────────┬───────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ id      ┆ date       ┆ client_id ┆ card_id ┆ … ┆ credit_lim ┆ acct_open_ ┆ year_pin_ ┆ card_on_d │
│ ---     ┆ ---        ┆ ---       ┆ ---     ┆   ┆ it         ┆ date       ┆ last_chan ┆ ark_web   │
│ i64     ┆ datetime[n ┆ i64       ┆ i64     ┆   ┆ ---        ┆ ---        ┆ ged       ┆ ---       │
│         ┆ s]         ┆           ┆         ┆   ┆ f64        ┆ str        ┆ ---       ┆ str       │
│         ┆            ┆           ┆         ┆   ┆            ┆            ┆ i64       ┆           │
╞═════════╪════════════╪═══════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 7475327 ┆ 2010-01-01 ┆ 1556      ┆ 2972    ┆ … ┆ 55.0       ┆ 05/2008    ┆ 2008      ┆ No        │
│         ┆ 00:01:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475328 ┆ 2010-01-01 ┆ 561       ┆ 4575    ┆ … ┆ 9100.0     ┆ 09/2005    ┆ 2015      ┆ No        │
│         ┆ 00:02:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475329 ┆ 2010-01-01 ┆ 1129      ┆ 102     ┆ … ┆ 14802.0    ┆ 01/2006    ┆ 2008      ┆ No        │
│         ┆ 00:02:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475332 ┆ 2010-01-01 ┆ 848       ┆ 3915    ┆ … ┆ 19113.0    ┆ 07/2009    ┆ 2014      ┆ No        │
│         ┆ 00:06:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475333 ┆ 2010-01-01 ┆ 1807      ┆ 165     ┆ … ┆ 89.0       ┆ 01/2008    ┆ 2015      ┆ No        │
│         ┆ 00:07:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
└─────────┴────────────┴───────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [5]:
def floor_to_15min(dt_value: datetime) -> datetime|None:
    if dt_value is None:
        return None

    seconds_since_midnight = (dt_value - dt_value.replace(hour=0, minute=0, second=0, microsecond=0)).total_seconds()
    interval_seconds = 15 * 60
    floored_seconds = (seconds_since_midnight // interval_seconds) * interval_seconds
    return dt_value.replace(hour=0, minute=0, second=0, microsecond=0) + timedelta(seconds=floored_seconds)

In [21]:
df = df.with_columns(
    pl.col("date").map_elements(floor_to_15min, return_dtype=pl.Datetime).alias("date_window")
)

In [23]:
def generate_columns_statistics(column_name: str) -> list:
    return [
        pl.col(column_name).mean().alias(f'mean_{column_name}'),
        pl.col(column_name).std().alias(f'std_{column_name}'),
        pl.col(column_name).skew().alias(f'skew_{column_name}'),
        pl.col(column_name).kurtosis().alias(f'kurtosis_{column_name}')
    ]

In [34]:
aggregate = [pl.col('amount').count().alias('transactions')]
for column in ['amount', 'current_age']:
  aggregate.extend(generate_columns_statistics(column))
aggregate.append(pl.col('target').sum().alias('target'))

In [61]:
df = df.with_columns(
    pl.when(pl.col('target') == 'Yes').then(1).otherwise(0).alias('target')
)

In [62]:
df_model = df.group_by('date_window').agg(
    *aggregate
).sort('date_window')
df_model.head()

shape: (5, 11)
┌────────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬────────┐
│ date_windo ┆ transactio ┆ mean_amou ┆ std_amoun ┆ … ┆ std_curre ┆ skew_curr ┆ kurtosis_ ┆ target │
│ w          ┆ ns         ┆ nt        ┆ t         ┆   ┆ nt_age    ┆ ent_age   ┆ current_a ┆ ---    │
│ ---        ┆ ---        ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ge        ┆ i32    │
│ datetime[μ ┆ u32        ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ ---       ┆        │
│ s]         ┆            ┆           ┆           ┆   ┆           ┆           ┆ f64       ┆        │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪════════╡
│ 2010-01-01 ┆ 6          ┆ 15.875    ┆ 52.737742 ┆ … ┆ 8.841191  ┆ -1.241314 ┆ 0.444023  ┆ 0      │
│ 00:00:00   ┆            ┆           ┆           ┆   ┆           ┆           ┆           ┆        │
│ 2010-01-01 ┆ 4          ┆ 22.2625   ┆ 22.245049 ┆ … ┆ 16.663333 ┆ -0.134765 ┆ -1.560644 ┆ 0      │
│ 00:15:00   ┆            ┆           ┆           ┆   ┆           ┆           ┆           ┆        │
│ 2010-01-01 ┆ 10         ┆ 34.644    ┆ 45.188942 ┆ … ┆ 4.993329  ┆ -0.461034 ┆ 0.602038  ┆ 0      │
│ 00:30:00   ┆            ┆           ┆           ┆   ┆           ┆           ┆           ┆        │
│ 2010-01-01 ┆ 6          ┆ 15.388333 ┆ 14.262798 ┆ … ┆ 18.251027 ┆ 0.262932  ┆ -1.015413 ┆ 0      │
│ 00:45:00   ┆            ┆           ┆           ┆   ┆           ┆           ┆           ┆        │
│ 2010-01-01 ┆ 6          ┆ 101.01833 ┆ 97.728056 ┆ … ┆ 9.648834  ┆ 0.573632  ┆ -1.012784 ┆ 0      │
│ 01:00:00   ┆            ┆ 3         ┆           ┆   ┆           ┆           ┆           ┆        │
└────────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴────────┘

In [63]:
df_model['target'].value_counts()

shape: (6, 2)
┌────────┬────────┐
│ target ┆ count  │
│ ---    ┆ ---    │
│ i32    ┆ u32    │
╞════════╪════════╡
│ 5      ┆ 4      │
│ 2      ┆ 1713   │
│ 3      ┆ 234    │
│ 1      ┆ 9012   │
│ 4      ┆ 43     │
│ 0      ┆ 333185 │
└────────┴────────┘

In [28]:
df_model.shape

(344191, 10)