In [1]:
import os
import shutil
import polars as pl
from datetime import datetime, timedelta

In [40]:
if 'google.colab' in str(get_ipython()):
  from google.colab import drive

  os.makedirs('./datasets', exist_ok=True)
  drive.mount('/content/drive')

  shutil.copy('/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude/df_train_test.parquet','/content/datasets/')
  shutil.copy('/content/drive/MyDrive/DataScience/Analytics/Estudo Fraude/df_validation.parquet','/content/datasets/')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
df = pl.concat([pl.read_parquet('./datasets/df_train_test.parquet'), pl.read_parquet('./datasets/df_validation.parquet')])
df.head()

shape: (5, 38)
┌─────────┬────────────┬───────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ id      ┆ date       ┆ client_id ┆ card_id ┆ … ┆ credit_lim ┆ acct_open_ ┆ year_pin_ ┆ card_on_d │
│ ---     ┆ ---        ┆ ---       ┆ ---     ┆   ┆ it         ┆ date       ┆ last_chan ┆ ark_web   │
│ i64     ┆ datetime[n ┆ i64       ┆ i64     ┆   ┆ ---        ┆ ---        ┆ ged       ┆ ---       │
│         ┆ s]         ┆           ┆         ┆   ┆ f64        ┆ str        ┆ ---       ┆ str       │
│         ┆            ┆           ┆         ┆   ┆            ┆            ┆ i64       ┆           │
╞═════════╪════════════╪═══════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ 7475327 ┆ 2010-01-01 ┆ 1556      ┆ 2972    ┆ … ┆ 55.0       ┆ 05/2008    ┆ 2008      ┆ No        │
│         ┆ 00:01:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475328 ┆ 2010-01-01 ┆ 561       ┆ 4575    ┆ … ┆ 9100.0     ┆ 09/2005    ┆ 2015      ┆ No        │
│         ┆ 00:02:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475329 ┆ 2010-01-01 ┆ 1129      ┆ 102     ┆ … ┆ 14802.0    ┆ 01/2006    ┆ 2008      ┆ No        │
│         ┆ 00:02:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475332 ┆ 2010-01-01 ┆ 848       ┆ 3915    ┆ … ┆ 19113.0    ┆ 07/2009    ┆ 2014      ┆ No        │
│         ┆ 00:06:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
│ 7475333 ┆ 2010-01-01 ┆ 1807      ┆ 165     ┆ … ┆ 89.0       ┆ 01/2008    ┆ 2015      ┆ No        │
│         ┆ 00:07:00   ┆           ┆         ┆   ┆            ┆            ┆           ┆           │
└─────────┴────────────┴───────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [42]:
def floor_to_15min(dt_value: datetime) -> datetime|None:
    if dt_value is None:
        return None

    seconds_since_midnight = (dt_value - dt_value.replace(hour=0, minute=0, second=0, microsecond=0)).total_seconds()
    interval_seconds = 15 * 60
    floored_seconds = (seconds_since_midnight // interval_seconds) * interval_seconds
    return dt_value.replace(hour=0, minute=0, second=0, microsecond=0) + timedelta(seconds=floored_seconds)

In [43]:
df = df.with_columns(
    pl.col("date").map_elements(floor_to_15min, return_dtype=pl.Datetime).alias("date_window")
)

In [44]:
def generate_columns_statistics(column_name: str) -> list:
    return [
        pl.col(column_name).mean().alias(f'mean_{column_name}'),
        pl.col(column_name).median().alias(f'median_{column_name}'),
        pl.col(column_name).std().alias(f'std_{column_name}'),
        pl.col(column_name).skew().alias(f'skew_{column_name}'),
        pl.col(column_name).kurtosis().alias(f'kurtosis_{column_name}')
    ]

In [45]:
df = df.with_columns(
    pl.when(pl.col('target') == 'Yes').then(1).otherwise(0).alias('target')
)

In [46]:
aggregate = [pl.col('amount').count().alias('transactions')]
for column in ['amount', 'current_age', 'per_capita_income', 'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards', 'credit_limit']:
  aggregate.extend(generate_columns_statistics(column))
aggregate.append(pl.col('target').sum().alias('frauds'))

In [47]:
df_model = df.group_by('date_window').agg(
    *aggregate
).sort('date_window')
df_model.head()

shape: (5, 43)
┌────────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬────────┐
│ date_windo ┆ transactio ┆ mean_amou ┆ median_am ┆ … ┆ std_credi ┆ skew_cred ┆ kurtosis_ ┆ frauds │
│ w          ┆ ns         ┆ nt        ┆ ount      ┆   ┆ t_limit   ┆ it_limit  ┆ credit_li ┆ ---    │
│ ---        ┆ ---        ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ mit       ┆ i32    │
│ datetime[μ ┆ u32        ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ ---       ┆        │
│ s]         ┆            ┆           ┆           ┆   ┆           ┆           ┆ f64       ┆        │
╞════════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪════════╡
│ 2010-01-01 ┆ 6          ┆ 15.875    ┆ 20.515    ┆ … ┆ 8439.3960 ┆ 0.381076  ┆ -1.520432 ┆ 0      │
│ 00:00:00   ┆            ┆           ┆           ┆   ┆ 78        ┆           ┆           ┆        │
│ 2010-01-01 ┆ 4          ┆ 22.2625   ┆ 21.57     ┆ … ┆ 13718.592 ┆ 0.010111  ┆ -1.972188 ┆ 0      │
│ 00:15:00   ┆            ┆           ┆           ┆   ┆ 311       ┆           ┆           ┆        │
│ 2010-01-01 ┆ 10         ┆ 34.644    ┆ 37.73     ┆ … ┆ 6338.6096 ┆ 0.114952  ┆ -1.629159 ┆ 0      │
│ 00:30:00   ┆            ┆           ┆           ┆   ┆           ┆           ┆           ┆        │
│ 2010-01-01 ┆ 6          ┆ 15.388333 ┆ 11.185    ┆ … ┆ 11039.367 ┆ -0.713338 ┆ -1.100947 ┆ 0      │
│ 00:45:00   ┆            ┆           ┆           ┆   ┆ 893       ┆           ┆           ┆        │
│ 2010-01-01 ┆ 6          ┆ 101.01833 ┆ 82.545    ┆ … ┆ 20657.262 ┆ 1.339601  ┆ 0.337726  ┆ 0      │
│ 01:00:00   ┆            ┆ 3         ┆           ┆   ┆ 681       ┆           ┆           ┆        │
└────────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴────────┘

In [48]:
df_model['frauds'].value_counts().sort('frauds')

shape: (6, 2)
┌────────┬────────┐
│ frauds ┆ count  │
│ ---    ┆ ---    │
│ i32    ┆ u32    │
╞════════╪════════╡
│ 0      ┆ 333185 │
│ 1      ┆ 9012   │
│ 2      ┆ 1713   │
│ 3      ┆ 234    │
│ 4      ┆ 43     │
│ 5      ┆ 4      │
└────────┴────────┘

In [49]:
df_model.shape

(344191, 43)

In [50]:
unique_use_chip = df.select('use_chip').unique().to_numpy().squeeze()

In [64]:
def list_structs_to_dict(list_of_structs):
    if list_of_structs is None: # Trata casos onde a lista inteira é null
        return None

    items = {}
    for item in list_of_structs:
      key = item['use_chip']
      value = round(item['proportion'], 2)
      items[key] = value
    return items

In [65]:
df_use_chip = df.group_by('date_window').agg(pl.col('use_chip').value_counts(normalize=True)).sort('date_window')
df_use_chip.head()

shape: (5, 2)
┌─────────────────────┬─────────────────────────────────┐
│ date_window         ┆ use_chip                        │
│ ---                 ┆ ---                             │
│ datetime[μs]        ┆ list[struct[2]]                 │
╞═════════════════════╪═════════════════════════════════╡
│ 2010-01-01 00:00:00 ┆ [{"Swipe Transaction",0.833333… │
│ 2010-01-01 00:15:00 ┆ [{"Swipe Transaction",1.0}]     │
│ 2010-01-01 00:30:00 ┆ [{"Swipe Transaction",0.8}, {"… │
│ 2010-01-01 00:45:00 ┆ [{"Swipe Transaction",0.833333… │
│ 2010-01-01 01:00:00 ┆ [{"Swipe Transaction",0.5}, {"… │
└─────────────────────┴─────────────────────────────────┘

In [67]:
 df_use_chip.with_columns(
  pl.col('use_chip').map_elements(
      list_structs_to_dict,
      return_dtype=pl.Object
).alias('use_chip'))

shape: (344_191, 2)
┌─────────────────────┬─────────────────────────────────┐
│ date_window         ┆ use_chip                        │
│ ---                 ┆ ---                             │
│ datetime[μs]        ┆ object                          │
╞═════════════════════╪═════════════════════════════════╡
│ 2010-01-01 00:00:00 ┆ {'Swipe Transaction': 0.83, 'O… │
│ 2010-01-01 00:15:00 ┆ {'Swipe Transaction': 1.0}      │
│ 2010-01-01 00:30:00 ┆ {'Swipe Transaction': 0.8, 'On… │
│ 2010-01-01 00:45:00 ┆ {'Swipe Transaction': 0.83, 'O… │
│ 2010-01-01 01:00:00 ┆ {'Swipe Transaction': 0.5, 'On… │
│ …                   ┆ …                               │
│ 2019-10-31 22:45:00 ┆ {'Online Transaction': 0.06, '… │
│ 2019-10-31 23:00:00 ┆ {'Swipe Transaction': 0.33, 'C… │
│ 2019-10-31 23:15:00 ┆ {'Online Transaction': 0.4, 'C… │
│ 2019-10-31 23:30:00 ┆ {'Online Transaction': 0.14, '… │
│ 2019-10-31 23:45:00 ┆ {'Swipe Transaction': 0.27, 'C… │
└─────────────────────┴─────────────────────────────────┘

In [15]:
items = [{"Swipe Transaction",0.833333}, {"Online Transaction",0.166667}]

In [16]:
list_structs_to_dict(items)

{'Swipe Transaction': 0.833333, 'Online Transaction': 0.166667}